# Created by .ignore support plugin (hsz.mobi)
将删除 .gitignore
将删除 .idea/
将删除 BigBang.iml
将删除 HadoopTutorial/
将删除 JavaTutorial/
将删除 PythonTutorial/
将删除 pom.xml
将删除 src/
将删除 HadoopTutorial/src/main/java/com/qunar/MRFunctions/
将删除 HadoopTutorial/src/main/resources/
将删除 HadoopTutorial/src/test/
将删除 HadoopTutorial/target/
将删除 JavaTutorial/src/main/resources/
将删除 JavaTutorial/src/test/
*/target/*
target/*
out/*
.idea/*
PythonTutorial/gettingStarted/*.pyc
将删除 PythonTutorial/gettingStarted/classObject.pyc
